.selected{
font-weight: bold;

}
div#nav {
	display: block;
	width: 100%;
	height: 50px;
	margin-bottom: 10px;
	font-size: 16px;
}
#nav ul {
	list-style-type: none;
}

#nav ul li {
	list-style-type: none;
	display: inline;
	float: left;
	padding: 10px;
	text-align: center;
}
.currentday{
	font-weight: bold;
}